body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eeecec;
  color: #333;
}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}



img {
  border-radius: 20% 10% 20% 10%;
  background-color: #ffffff;
  max-width: 500px;
  width: 100%;
  height: 25%;
}

.presentacion,
.hobbies,
.actividad {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabla {
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.imagen {
  padding: 20px;
  margin: 20px auto;
  max-width: 200px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hobbies ul,
.actividad ul {
  margin: 0px;
  padding: 0 20px;
}

.hobbies li,
.actividad li {
  margin-bottom: 5px;
}

.tabla table {
  padding: 5%;
}

.tabla {
  background-color: #ffffff;
  border-radius: 8px;

}

.tabla th {
  background-color: #3498db;
  color: white;
  padding-bottom: 5%;
}

.tabla td {
  background-color: #f4f4f4;
  padding: 1px 2px 1px 2px;
}

/* Formulario */
.formulario {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario input,
.formulario button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formulario button {
  background-color: #27ae60;
  color: white;
  border: none;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #2ecc71;
}